

@media screen and (max-width:600px) {

    .menu-btn{
        display: block;
        padding-right: 50px; 
    }

    .logo{
        padding-left: 20px;
    } 
    nav ul{
        position: fixed;
        top: 100px;
        left: -100%;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        transition: all 0.5s ease;
    }

    nav ul li{
        margin: 25px 0;
    }

    #click:checked ~ ul{
       left: 0%; 
    }

    .input-field{
        width: 600px;
    }
    
    .input-field {
        width: 500px;
        height: 400px;
        margin: 0 auto;
        padding: 20px 30px;
        background: rgba(255, 255, 255, 0.2);
        margin-bottom: 80px;
    }
    .banner-section{
        margin: 0 auto;
        height: 500px;  
        padding: 10px;
    }

    .banner-img-description{
      width: 100%;
      margin-top: 20px;
      margin-left: 5px;
      margin-bottom: 10px;
      padding: 5px 10px;
    
      text-align: center;
    }
    .text-color-gray {
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        width: 400px; 
        text-align: center;
    }
    .btn-primary {
        padding: 10px;
        border-radius: 8px;
        background: #FF5400;
        border: none;
        width: 250px;
    }

    .input-text, .input{
        /* border: 2px solid palevioletred; */
        display:grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin: 0 auto;
        padding: 0 20px;
    }

    .popular-tour-container{
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }
    .popular-tour-content-img img{
        width: 98%;
        margin: 0 auto;
    }

    /* Destination */
    .destination-title-content{
        width: 100%;
    }

    .destination-img-container > div > img{
        width: 90%;
        margin: 0 auto;
    }
    .destination-img-one{
        flex-direction: column;
        margin: 15px auto;
        align-items: center;
        row-gap: 20px;
        width: 100%;
    }

    .destination-img-two{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        margin: 15px auto;
        align-items: center;
        row-gap: 20px;
    }

    .destination-img-three{
        flex-direction: column;
        margin: 15px auto;
        align-items: center;
        row-gap: 20px;
    }

    /* why choose container: ; */
    .why-choose-us-content-title{
        width: 90%;
    }

    .one-in-two-card{
        flex-direction: column;
        margin: 20px 0;
    }
    .why-choose-us-card-three{
        width: 100%;
    }

    .discounts-offer-card-one{
    height: 400px;
    width: 90%;
    margin: 0 auto;
    padding: 20px 30px;
    }

    .deal-discounts-offer-card {
        width: 95%;
        height: 500px;
        margin: 0 auto;
        margin-top: 50px;
        
        /* background-image: url(../Images/Group\ 39.png);
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        border-radius: 16px;
        align-items: center;
        display: grid;
        margin-bottom: 20px; */
    }
    .simple-perfect-place-content {
    width: 500px;
    margin: 0 auto;
    }

    .simple-perfect-place-container {
    flex-direction: column;
    justify-content: space-between;
    flex-direction: column;
    }
    .simple-perfect-place-img img, .travel-img img{
    margin: 20px 10px ;
    width: 95%;
    }

.newsletter-img-container{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
 .footer-logo{
        padding-top: 100px;
    }
.icon{
    margin-top: 50px;
}

}


