/* Fonts Family */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}


/* Shared Style start */
.btn-primary {
    padding: 10px 35px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    width: 180px;
    color: #FFF;
}

.text-color-white {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    width: 500px;
    text-align: center;
}

.text-color-black {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.title-text {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    padding: 24px 0;
}

.choose-us-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
/* Shared Style End */

/* Navigation Style Section Start */
nav {
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 150px;
}

.logo {
    display: flex;
    justify-content: space-around;
    object-fit: cover;
    gap: 15px;
    align-items: center;
}

.logo h4 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.logo-title {
    color: #FF5400;
    font-size: 2rem;
    font-weight: 800;

}

nav ul {
    display: flex;

}

nav ul li {
    list-style: none;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.menu-btn {
    color: #131318;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
}

#click {
    display: none;
}

.home {
    color: #FF5400;
    font-size: 1rem;
    font-weight: 700;

}

/* Navigation Style Section End */


/* Main section start */

main {
    max-width: 1250px;
    margin: 0 auto;
}

.banner-section {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(66, 65, 65, 0.52), rgba(14, 13, 13, 0.308)), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 16px;
    align-items: center;
    display: grid;
}

.banner-img-description {
    margin: 0 auto;
    margin-top: 120px;
}

.banner-img-description h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.input-field {
    /* border: 2px solid red; */
    width: 1000px;
    height: 80px;
    margin: 0 auto;
    padding: 16px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 80px;
    border-radius: 10px;
}

.input-text,
.input {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* popular-tour-container section */
.popular-tour-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 25px;
}

#btn {
    margin-top: 30px;
}

/* destination-container section start */
.destination-title-content {
    margin: 0 auto;
    width: 800px;
    margin-top: 80px;
    text-align: center;
}

.destination-img-container>div>img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    gap: 10px;
    margin-bottom: 10px;
}

.destination-img-one {
    display: flex;
    column-gap: 10px;
    margin-top: 50px;
}

.destination-img-two {
    display: flex;
    column-gap: 10px;
    width: 100%;
}

.destination-img-three {
    display: flex;
    column-gap: 25px;
    width: 100%;
}

/* why-choose-us-container style start */

.why-choose-us-content-title {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

.one-in-two-card {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    width: 100%;
    gap: 20px;

}

.why-choose-us-card-one {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.why-choose-us-card-two {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.why-choose-us-card-three {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px 32px;
}


.one-in-two-card>div {
    margin-left: 10px;
    /* width: 80%; */
    margin: 0 auto;
    padding: 32px 32px;
}




/* Special Offer & Discount Offer  CSS Style First section Start */

.deal-discounts-content {
    text-align: center;
    width: 80%;
    align-items: center;
    margin: 50px auto;
}

.discount-span {
    color: purple;
}


.deal-discounts-offer-card {
    width: 100%;
    height: 500px;
    background-image: url(../Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 16px;
    align-items: center;
    display: grid;
    margin-bottom: 20px;
}


.discounts-offer-card-one {
    border: 2px solid tomato;
    width: 600px;
    height: 400px;
    margin: 0 550px;
    padding-left: 255px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    /* display: flex; */
    padding: 50px 80px;
    gap: 20px;
}

li{
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
}

.icon {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.fa-regular, .fa-solid, .fa-regular{
    color: rgba(255, 84, 0, 1);
}

/* Special Offer & Discount Offer CSS Style First section End */


/* Special Offer & Discount Offer  CSS Style Second section Start */

.discount-span {
    color: purple;
}


.deal-discounts-offer-card {
    width: 100%;
    height: 500px;
    background-image: url(../Images/Group\ 40.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 16px;
    align-items: center;
    display: grid;
    margin-bottom: 20px;
}

.discounts-offer-card-one {
    width: 600px;
    height: 400px;
    margin: 0 550px;
    padding-left: 255px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    /* display: flex; */
    padding: 50px 80px;
    gap: 20px;
}

li{
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
}

.icon {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.fa-regular, .fa-solid, .fa-regular{
    color: rgba(255, 84, 0, 1);
}
/* Special Offer & Discount Offer CSS Style Second section End */



/* Special Offer & Discount Offer  CSS Style Thired section Start */
.discount-span {
    color: purple;
}


.deal-discounts-offer-card {
    width: 100%;
    height: 500px;
    background-image: url(../Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 16px;
    align-items: center;
    display: grid;
    margin-bottom: 20px;
}
.discounts-offer-card-one {
    border: 2px solid tomato;
    width: 600px;
    height: 400px;
    margin: 0 550px;
    padding-left: 255px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    /* display: flex; */
    padding: 50px 80px;
    gap: 20px;
}
li{
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
}
.icon {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.fa-regular, .fa-solid, .fa-regular{
    color: rgba(255, 84, 0, 1);
}
/* Special Offer & Discount Offer CSS Style thired section End */